body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;


    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}


canvas {
    display: block;
}
